In [ ]:
#Objective : missing value treatment on Weather file
#columns : Cool, Sunrise, Sunset, Codesum

In [21]:
import pandas as pd
import numpy as np

In [22]:
weather = pd.read_csv('/Users/jenniferwu/Downloads/predict-west-nile-virus/weather.csv')

In [23]:
# function for Sunrise and sunset

In [24]:
import datetime
def convert_to_datetime(time_str):
    try:
        return datetime.datetime.strptime(time_str,"%H%M").time()
    except Exception as e:
        print(time_str)
        print(e)

In [25]:
#Sunrise
#convert_to_datetime("448")

In [26]:
weather['sunrise_new']=weather['Sunrise'].replace('-', '0000')

In [7]:
weather['sunrise_new1']=weather['sunrise_new'].apply(convert_to_datetime)

In [8]:
#Sunset

In [9]:
weather['sunset_new']=weather['Sunset'].replace('-', '0000')

In [10]:
weather['sunset_new']=weather['sunset_new'].replace('1660', '1700')
weather['sunset_new']=weather['sunset_new'].replace('1760', '1800')
weather['sunset_new']=weather['sunset_new'].replace('1860', '1900')

In [11]:
weather['sunset_new1']=weather['sunset_new'].apply(convert_to_datetime)

In [14]:
#Separate into two dataframes by station 1 and 2
is_station1 = weather['Station']==1
dfStation1 = weather[is_station1]

is_station2 = weather['Station']==2
dfStation2 = weather[is_station2]

#Join both dataframes next to each other on the Date
all_data = dfStation1.join(dfStation2.set_index('Date'), on='Date', lsuffix = '_Station1', rsuffix='_Station2')


all_data.head()

,Station_Station1,Date,Tmax_Station1,Tmin_Station1,Tavg_Station1,Depart_Station1,DewPoint_Station1,WetBulb_Station1,Heat_Station1,Cool_Station1,...,PrecipTotal_Station2,StnPressure_Station2,SeaLevel_Station2,ResultSpeed_Station2,ResultDir_Station2,AvgSpeed_Station2,sunrise_new_Station2,sunrise_new1_Station2,sunset_new_Station2,sunset_new1_Station2
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.00,29.18,29.82,2.7,25,9.6,0000,00:00:00,0000,00:00:00
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.00,29.44,30.08,13.3,2,13.4,0000,00:00:00,0000,00:00:00
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.00,29.46,30.12,12.9,6,13.2,0000,00:00:00,0000,00:00:00
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,0.00,29.36,30.04,10.1,7,10.4,0000,00:00:00,0000,00:00:00
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,T,29.46,30.09,11.2,7,11.5,0000,00:00:00,0000,00:00:00

In [15]:
all_data['sunrise_new1_Station2'] = np.where((all_data.sunrise_new1_Station2 == '00:00:00'),all_data.sunrise_new1_Station1, all_data.sunrise_new1_Station2)

In [16]:
all_data['sunset_new1_Station2'] = np.where((all_data.sunset_new1_Station2 == '00:00:00'),all_data.sunset_new1_Station1, all_data.sunset_new1_Station2)

In [17]:
#CodeSum

In [18]:
all_data['CodeSum_Station1']=all_data['CodeSum_Station1'].replace(' ', 'NO EVENT')
all_data['CodeSum_Station2']=all_data['CodeSum_Station2'].replace(' ', 'NO EVENT')

all_data.head()

,Station_Station1,Date,Tmax_Station1,Tmin_Station1,Tavg_Station1,Depart_Station1,DewPoint_Station1,WetBulb_Station1,Heat_Station1,Cool_Station1,...,PrecipTotal_Station2,StnPressure_Station2,SeaLevel_Station2,ResultSpeed_Station2,ResultDir_Station2,AvgSpeed_Station2,sunrise_new_Station2,sunrise_new1_Station2,sunset_new_Station2,sunset_new1_Station2
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.00,29.18,29.82,2.7,25,9.6,0000,00:00:00,0000,00:00:00
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.00,29.44,30.08,13.3,2,13.4,0000,00:00:00,0000,00:00:00
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.00,29.46,30.12,12.9,6,13.2,0000,00:00:00,0000,00:00:00
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,0.00,29.36,30.04,10.1,7,10.4,0000,00:00:00,0000,00:00:00
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,T,29.46,30.09,11.2,7,11.5,0000,00:00:00,0000,00:00:00

In [19]:
#Cool

In [20]:
all_data['Cool_Station2'] = np.where((all_data.Cool_Station2 == 'M'),all_data.Cool_Station1, all_data.Cool_Station2)

In [27]:
all_data.tail()

,Station_Station1,Date,Tmax_Station1,Tmin_Station1,Tavg_Station1,Depart_Station1,DewPoint_Station1,WetBulb_Station1,Heat_Station1,Cool_Station1,...,PrecipTotal_Station2,StnPressure_Station2,SeaLevel_Station2,ResultSpeed_Station2,ResultDir_Station2,AvgSpeed_Station2,sunrise_new_Station2,sunrise_new1_Station2,sunset_new_Station2,sunset_new1_Station2
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,0.02,29.00,29.67,12.7,19,13.6,0000,00:00:00,0000,00:00:00
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,0.03,29.23,29.85,14.0,26,14.6,0000,00:00:00,0000,00:00:00
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,0.00,29.42,30.07,8.5,29,9.0,0000,00:00:00,0000,00:00:00
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,T,29.41,30.10,5.9,23,6.5,0000,00:00:00,0000,00:00:00
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,0.04,29.54,30.20,21.7,34,22.6,0000,00:00:00,0000,00:00:00