In [124]:
#Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
#Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

import pandas as pd
import numpy as np
import re

In [125]:
# Load file "weather.csv"
df = pd.read_csv('/Users/jenniferwu/Documents/kaggle-competition1/datasets/weather.csv')

# Drop columns:"Depth", "Water1", "Snowfall"
df = df.drop(columns = ['Depth','Water1','SnowFall'])


df.head()

df.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum',
       'PrecipTotal', 'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir',
       'AvgSpeed'],
      dtype='object')

In [126]:
############ Lat and Lon Columns ############

# Add columns to show where the station is (lat,lon) and its reading measures
df['WeatherLat'] = np.where(df['Station']==1, 41.995, 41.786)
df['WeatherLon'] = np.where(df['Station']==1, -87.933, -87.752)

In [127]:
# Move newly added columns from the end 2 spots to after the Station column
my_column = df.pop('WeatherLat')
my_column1 = df.pop('WeatherLon')
df.insert(1, my_column.name, my_column)
df.insert(2, my_column1.name, my_column1)

In [128]:
############ Tavg Column ############

# Replace M in Tavg with Tmax-Tmin / 2 + Tmin
df['Tavg'].replace(to_replace='M',value = (df['Tmax']-df['Tmin'])/2 + df['Tmin'], inplace=True)

# Change Tavg type from object to int
df[["Tavg"]] = df[["Tavg"]].astype(int)

In [129]:
import datetime
def convert_to_datetime(time_str):
    try:
        return datetime.datetime.strptime(time_str,"%H%M").time()
    except Exception as e:
        print(time_str)
        print(e)

In [130]:

#Sunrise
df['sunrise_new']=df['Sunrise'].replace('-', '0000').apply(convert_to_datetime)
#df['sunrise_new1']=df['sunrise_new'].apply(convert_to_datetime)

#Sunset

df['sunset_new']=df['Sunset'].replace('-', '0000')
df['sunset_new']=df['sunset_new'].replace('1660', '1700')
df['sunset_new']=df['sunset_new'].replace('1760', '1800')
df['sunset_new']=df['sunset_new'].replace('1860', '1900')

df['sunset_new1']=df['sunset_new'].apply(convert_to_datetime)



print(df.head())

   Station  WeatherLat  WeatherLon        Date  Tmax  Tmin  Tavg Depart  \
0        1      41.995     -87.933  2007-05-01    83    50    67     14
1        2      41.786     -87.752  2007-05-01    84    52    68      M
2        1      41.995     -87.933  2007-05-02    59    42    51     -3
3        2      41.786     -87.752  2007-05-02    60    43    52      M
4        1      41.995     -87.933  2007-05-03    66    46    56      2

   DewPoint WetBulb  ... CodeSum PrecipTotal StnPressure SeaLevel ResultSpeed  \
0        51      56  ...                0.00       29.10    29.82         1.7
1        51      57  ...                0.00       29.18    29.82         2.7
2        42      47  ...      BR        0.00       29.38    30.09        13.0
3        42      47  ...   BR HZ        0.00       29.44    30.08        13.3
4        40      48  ...                0.00       29.39    30.12        11.7

  ResultDir AvgSpeed sunrise_new  sunset_new  sunset_new1
0        27      9.2    04:48:00        1849     18:49:00
1        25      9.6    00:00:00        0000     00:00:00
2         4     13.4    04:47:00        1850     18:50:00
3         2     13.4    00:00:00        0000     00:00:00
4         7     11.9    04:46:00        1851     18:51:00

[5 rows x 24 columns]

In [131]:
# Separate into two dataframes by station 1 and 2
is_station1 =  df['Station']==1
dfStation1 = df[is_station1]
is_station2 =  df['Station']==2
dfStation2 = df[is_station2]

# Join both dataframes next to each other on the Date and add respective station label to end
a = dfStation1.join(dfStation2.set_index('Date'), on='Date', lsuffix = '_Station1', rsuffix='_Station2')

# Reset the Index of the whole dataframe
a.reset_index(drop = True,inplace = True)

In [132]:
print(a.head())
############ Preciptotal Column ############

# Replace M value with value from Station on same date that actually has a value
a['PrecipTotal_Station1'].replace(to_replace='M',value = a['PrecipTotal_Station2'], inplace=True)
a['PrecipTotal_Station2'].replace(to_replace='M',value = a['PrecipTotal_Station1'], inplace=True)

# Replace T value with value from Station on same date that actually has a value
a['PrecipTotal_Station1'].replace(to_replace='  T',value = a['PrecipTotal_Station2'], inplace=True)
a['PrecipTotal_Station2'].replace(to_replace='  T',value = a['PrecipTotal_Station1'], inplace=True)

   Station_Station1  WeatherLat_Station1  WeatherLon_Station1        Date  \
0                 1               41.995              -87.933  2007-05-01
1                 1               41.995              -87.933  2007-05-02
2                 1               41.995              -87.933  2007-05-03
3                 1               41.995              -87.933  2007-05-04
4                 1               41.995              -87.933  2007-05-05

   Tmax_Station1  Tmin_Station1  Tavg_Station1 Depart_Station1  \
0             83             50             67              14
1             59             42             51              -3
2             66             46             56               2
3             66             49             58               4
4             66             53             60               5

   DewPoint_Station1 WetBulb_Station1  ... CodeSum_Station2  \
0                 51               56  ...
1                 42               47  ...            BR HZ
2                 40               48  ...               HZ
3                 41               50  ...
4                 38               49  ...

  PrecipTotal_Station2 StnPressure_Station2 SeaLevel_Station2  \
0                 0.00                29.18             29.82
1                 0.00                29.44             30.08
2                 0.00                29.46             30.12
3                 0.00                29.36             30.04
4                    T                29.46             30.09

  ResultSpeed_Station2 ResultDir_Station2 AvgSpeed_Station2  \
0                  2.7                 25               9.6
1                 13.3                  2              13.4
2                 12.9                  6              13.2
3                 10.1                  7              10.4
4                 11.2                  7              11.5

  sunrise_new_Station2  sunset_new_Station2  sunset_new1_Station2
0             00:00:00                 0000              00:00:00
1             00:00:00                 0000              00:00:00
2             00:00:00                 0000              00:00:00
3             00:00:00                 0000              00:00:00
4             00:00:00                 0000              00:00:00

[5 rows x 47 columns]

In [133]:

# Now that the only T's remaining are where its in both Station1 and 2, replace with 0
a['PrecipTotal_Station1'].replace(to_replace='  T',value = 0.00, inplace=True)
a['PrecipTotal_Station2'].replace(to_replace='  T',value = 0.00, inplace=True)

# Change PrecipTotal types to floats from objects
a[["PrecipTotal_Station1"]] = a[["PrecipTotal_Station1"]].astype(float)
a[["PrecipTotal_Station2"]] = a[["PrecipTotal_Station2"]].astype(float)

############ STNpressure Column ############

# Replace M value with value from Station on same date that actually has a value
a['StnPressure_Station1'].replace(to_replace='M',value = a['StnPressure_Station2'], inplace=True)
a['StnPressure_Station2'].replace(to_replace='M',value = a['StnPressure_Station1'], inplace=True)

# Find Indexes of spots where both Station 1 and Station 2 have value "M" and replace with avg of index above and below
Index_label1 = a[a['StnPressure_Station1']=='M'].index.tolist()
for i in Index_label1:
    a['StnPressure_Station2'].replace(to_replace='M',value = (float(a.at[i+1,'StnPressure_Station2']) + float(a.at[i-1,'StnPressure_Station2']))/2 , inplace=True)
    a['StnPressure_Station1'].replace(to_replace='M', value=(float(a.at[i+1, 'StnPressure_Station1']) + float(a.at[i-1, 'StnPressure_Station1'])) / 2, inplace=True)

# Change StnPressure types to floats from objects
a[["StnPressure_Station1"]] = a[["StnPressure_Station1"]].astype(float)
a[["StnPressure_Station2"]] = a[["StnPressure_Station2"]].astype(float)

############ Sealevel Column ############

# Replace M value with value from Station on same date that actually has a value
a['SeaLevel_Station1'].replace(to_replace='M',value = a['SeaLevel_Station2'], inplace=True)
a['SeaLevel_Station2'].replace(to_replace='M',value = a['SeaLevel_Station1'], inplace=True)

# Change Sealevel types to floats from objects
a[["SeaLevel_Station1"]] = a[["SeaLevel_Station1"]].astype(float)
a[["SeaLevel_Station2"]] = a[["SeaLevel_Station2"]].astype(float)

############ AvgSpeed Column ############

# Replace M value with value from Station on same date that actually has a value
a['AvgSpeed_Station1'].replace(to_replace='M',value = a['AvgSpeed_Station2'], inplace=True)
a['AvgSpeed_Station2'].replace(to_replace='M',value = a['AvgSpeed_Station1'], inplace=True)

# Change AvgSpeed types to floats from objects
a[["AvgSpeed_Station1"]] = a[["AvgSpeed_Station1"]].astype(float)
a[["AvgSpeed_Station2"]] = a[["AvgSpeed_Station2"]].astype(float)

In [134]:
a['Depart_Station2'] = np.where((a.Depart_Station2 == 'M'),
                                            a.Depart_Station1, a.Depart_Station2)

In [135]:
for col in ['Heat_Station2']:
    a[col] = a[col].fillna(a['Heat_Station1'])

In [136]:
a['Heat_Station2'] = np.where((a.Heat_Station2 == 'M'),
                                            a.Heat_Station1, a.Heat_Station2)

In [137]:
a['WetBulb_Station1']= pd.to_numeric(a['WetBulb_Station1'], errors = 'coerce')
# calculate mean of WetBulb_Station1 = WetBulb_Station1_mean
WetBulb_Station1_mean = a['WetBulb_Station1'].mean(skipna = True)

In [138]:
#replace the missing value of WetBulb_Station1 with the WetBulb_Station1_mean
a['WetBulb_Station1'] = a.WetBulb_Station1.fillna(WetBulb_Station1_mean)

In [139]:
#change the type of Wetbulb_Station2 Column to numeric 
a['WetBulb_Station2']= pd.to_numeric(a['WetBulb_Station2'], errors = 'coerce')
# calculate mean of WetBulb_Station2
WetBulb_Station2_mean = a['WetBulb_Station2'].mean(skipna = True)
a['WetBulb_Station2'] = a.WetBulb_Station2.fillna(WetBulb_Station2_mean)

In [140]:
def to_celcius(x):
    c = ((x-32)/9)*5
    return(c)

def rel_hum(dry,wet,press=0.6687451584):
    e = float(math.e)
    ed = 6.112*(e**((17.502*dry)/(240.97+dry)))
    ew = 6.112*(e**((17.502*wet)/(240.97+wet)))
    result = (ew-press*(1+.00115*wet)*(dry-wet))/ed*100
    return(result)

In [141]:
a['Tavg_Station1']= pd.to_numeric(a['Tavg_Station1'], errors = 'coerce')
a['Tavg_Station2']= pd.to_numeric(a['Tavg_Station2'], errors = 'coerce')
#final_station['StnPressure_Station1']= pd.to_numeric(final_station['StnPressure_Station1'], errors = 'coerce')

In [142]:
import math
a['WetBulb_Station1_c']=a.WetBulb_Station1.apply(to_celcius)
a['Tavg_Station1_c']=a.Tavg_Station1.apply(to_celcius)

a['WetBulb_Station2_c']=a.WetBulb_Station2.apply(to_celcius)
a['Tavg_Station2_c']=a.Tavg_Station2.apply(to_celcius)

a['rel_hum_station1']=rel_hum(a['Tavg_Station1_c'],a['WetBulb_Station1_c'])
a['rel_hum_station2']=rel_hum(a['Tavg_Station2_c'],a['WetBulb_Station2_c'])

In [143]:
# replacing station 2 sunset and sunrise with station 1 values
a[["sunrise_new_Station2"]] = a[["sunrise_new_Station2"]].astype(str)
a[["sunset_new1_Station2"]] = a[["sunset_new1_Station2"]].astype(str)
a['sunrise_new_Station2'].replace(to_replace='00:00:00',value = a['sunrise_new_Station1'], inplace=True)
a['sunset_new1_Station2'].replace(to_replace='00:00:00',value = a['sunset_new1_Station1'], inplace=True)

#drop sunrise and sunset columns not needed
a = a.drop(columns = ['Sunrise_Station1','Sunset_Station1','sunset_new_Station1','sunset_new_Station2'])

#rename sunrise and sunset columns 
a.rename(columns={"sunrise_new_Station1":"Sunrise_Station1","sunset_new1_Station1":"Sunset_Station1",
                  "sunrise_new_Station2":"Sunrise_Station2","sunset_new1_Station2":"Sunset_Station2"},inplace = True)    

#codeSum
a['CodeSum_Station1']=a['CodeSum_Station1'].replace(' ', 'NO EVENT')
a['CodeSum_Station2']=a['CodeSum_Station2'].replace(' ', 'NO EVENT')    


#cool
a['Cool_Station2'] = np.where((a.Cool_Station2 == 'M'),a.Cool_Station1, a.Cool_Station2)