In [65]:
#!pip install matplotlib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [66]:
train = pd.read_csv('/Users/jenniferwu/Downloads/predict-west-nile-virus/train.csv')
test = pd.read_csv('/Users/jenniferwu/Downloads/predict-west-nile-virus/test.csv')

In [67]:
###TRAIN DATA CLEANING

In [68]:
#checking dups. The dups were due to multiple entry of trap per day and lat long 
#because max num of mosquito can be recorded per entry is 50
sum(train.duplicated())

813

In [69]:
train.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000

In [70]:
#total rows with duplicated entries
train.shape

(10506, 12)

In [71]:
train.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [72]:
####Adding up the num mosquito to remove dups
train = train.groupby(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy','WnvPresent'],
             as_index = False).agg({"NumMosquitos":"sum"})

In [73]:
###check after grouping and summing the number of mosquito
print(sum(train.duplicated()))
print(train.shape)

0
(8610, 12)

In [74]:
#now separating the date column in test and train data to 'month', 'day', and 'year' columns

train.Date = pd.to_datetime(train.Date, format="%Y-%m-%d")
test.Date = pd.to_datetime(train.Date, format="%Y-%m-%d")
train.Species = train.Species.astype('category')
test.Species = train.Species.astype('category')
train.WnvPresent = train.WnvPresent.astype('category')

train.info()
test.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8610 entries, 0 to 8609
Data columns (total 12 columns):
Date                      8610 non-null datetime64[ns]
Address                   8610 non-null object
Species                   8610 non-null category
Block                     8610 non-null int64
Street                    8610 non-null object
Trap                      8610 non-null object
AddressNumberAndStreet    8610 non-null object
Latitude                  8610 non-null float64
Longitude                 8610 non-null float64
AddressAccuracy           8610 non-null int64
WnvPresent                8610 non-null category
NumMosquitos              8610 non-null int64
dtypes: category(2), datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 1.1+ MB

Index(['Id', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy'],
      dtype='object')

In [75]:
train[['year','month','day']] = train.Date.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))
test[['year','month','day']] = train.Date.apply(lambda x: pd.Series(x.strftime("%Y,%m,%d").split(",")))

In [76]:
print(train.columns)
print(test.columns)

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'WnvPresent', 'NumMosquitos', 'year', 'month', 'day'],
      dtype='object')
Index(['Id', 'Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'year', 'month', 'day'],
      dtype='object')

In [78]:
test.to_csv('/Users/jenniferwu/Documents/kaggle-competition1/cleaned_data/test_cleaned.csv')
train.to_csv('/Users/jenniferwu/Documents/kaggle-competition1/cleaned_data/train_cleaned.csv')